*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.accordion{
   width: 500px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.accordion .panel {
    position: relative;
    /* margin: 10px 20px; */
    width: 100%;
}

.accordion .panel .label{
    position: relative;
    padding: 10px;
    background: #8e44ad;
    /* background: #16a085; */
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);

}

.accordion .panel .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .panel.active .label::before{
    content: "-";
}
.accordion .panel .acc-content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    /* display: none; */
}

.accordion .panel.active .acc-content{
    height: 150px;
    padding: 10px;
    
}